@import url("generic.css");

.card-link{
  text-decoration: none;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.card-shop {
  position: relative;
  border-radius: 9.45px;
  box-shadow: 0px 0px 12px 2px #008400;
  font-family: "Roboto", sans-serif;
  background: #000000;
  padding: 10px;
  width: 60%;
  height: 280px;
  margin: 2em auto;
  transition: 0.5s;
}
.card-shop:hover {
  box-shadow: 0px 0px 12px 6px var(--neon-green-77opc);
}

.card-shop-img {
  width: 35%;
  height: 130px;
  border-radius: 10px;
  object-fit: contain;
  background: radial-gradient(darkgray, black);
}

.card-text-area {
  position: absolute;
  display: inline;
  color: white;
}

.card-text-area h2,
.card-text-area p {
  display: block;
  margin: 5px;
}

.card-shop hr{
	color: var(--neon-green);
	box-shadow: 0px 0px 12px 6px var(--neon-green-77opc);
	width: 75%;
	margin: 2em auto;
}

.cart-data{
	color: white;
	font-size: 2em;
	display: flex;
	justify-content: space-between;
}

.cart-data input,
.remove-button {
	padding: 4px;
	border-radius: 8px;
	border: none;
	font-size: 25px;
	box-shadow: 0px 0px 12px 2px #008400;
	background: black;
	text-decoration: none;
	width: 20%;
}

.cart-data input:not(.invalid){
	color: white;
}

.cart-data input:hover,
.remove-button:hover {
  	box-shadow: 0px 0px 12px 6px var(--neon-green-77opc);
}

.remove-button,
.remove-button:hover{
	text-align: center;
	color: white;
}

.invalid{
	color: red;
}

hr{
	color: white;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 1em;
}

#final{
	color: white;
	text-align: center;
}

@media (max-width: 1024px) {
  .card-shop {
    width: 80%;
  }

  .card-text-area h2 {
    font-size: 2em;
  }
}

@media (max-width: 620px) {
	.card-shop {
		height: 450px;
	}

	.card-shop-img {
		width: 100%;
		height: 260px;
	}

	.card-text-area h2 {
		font-size: 1em;
	}

	.card-text-area {
		display: block;
		position: absolute;
		bottom: 190px;
		margin: 10px;
		background: var(--text-background);
		border-radius: 10px;
	}

	.card-text-area h2,
	.card-text-area p {
		text-shadow: var(--text-shadow);
	}

	.cart-data{
		display: block;
	}
}

@media (max-width: 335px) {
	.card-shop {
		height: 450px;
	}

	.card-shop-img {
		width: 100%;
		height: 200px;
	}

	.card-text-area{
		bottom: 250px;
	}

	.cart-data input,
	.remove-button{
		width: 100%;
	}
}